LSTM.ipynb
package-lock.json
sample.json
summary.txt
user.json
X.npy
y.npy
zkscore_results_real
zkmodel/keras2circom/
new_model.py
node_modules
.ipynb_checkpoints
zkmodel/aave-v2-health-factor-complete.csv
zkscore_lstm.py
__pycache__
*.ptau
.DS_Store
zkmodel/prediction.py
p.py
zkmodel/transaction_based_score_model.py
zkmodel/load_data.py
.env